.login-page {
  background: linear-gradient(rgba(58, 82, 53, 0.5), rgba(58, 82, 53, 0.5));
  padding: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

.login-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form-inputs {
  width: 300px;
}