.pantry-page {
  background: linear-gradient(rgba(58, 82, 53, 0.5), rgba(58, 82, 53, 0.5));
  padding: 30px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#l {
  font-weight: bold !important;
}
