<div class="container">

  <h1>Recipes:</h1>
  <div class="listing">
    <% @recipes.each do |recipe| %>
      <div class="listing-item">
        <%= image_tag recipe.url %>
        <div class="listing-item-infos">
          <h2><%= recipe.name %></h2>
          <p><%= recipe.description[0..80] %>...</p>
          <div class="listing-item-tags">
            <% recipe.ingredients.each do |ingredient| %>
              <div class="listing-item-tag">
                <%= ingredient.name %>
              </div>
            <% end %>
            </div>
        </div>
        <div class="listing-item-expand">See more</div>
      </div>
    <% end %>
  </div>
</div>
