<div class="home">
  <div class="container">
    <div class="home">
      <!--%= image_tag "logo-coocle.png", class: "home-logo" %-->
      <h1>Coocle</h1>
      <p>Tell us what ingredients you have in your fridge, and we will find you amazing recipes you can cook right now!</p>
      <%= render 'shared/search_bar' %>
    </div>
  </div>
</div>
