<div class="container">
  <div class="home">
    <div>
      <h1>Coocle</h1>
      <p>Select the ingredients you have and we will find you a recipe!</p>


      <%= simple_form_for :search, url: recipes_path, method: :get, collection: @ingredients do |f| %>
        <div class="search-form-control form-group">
          <%= f.input :multiple_search, collection: @ingredients, input_html: { multiple: true, class: "select2-form" } %>
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %> 
    </div>
  </div>


</div>