.heart {
  color: rgba(255, 255, 255, 0.1);
  background-color: rgba(0,0,0,0);
  border: 0px;
  position: absolute;
  left: 5px;
  bottom: 150px;
  font-size: 30px;
  text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white;
}

.heart .btn:active {
  outline: none;
}

.heart :hover {
  color: rgb(215, 91, 91);
}

.heart-active {
  color: red;
  background-color: rgba(0,0,0,0);
  border: 0px;
  position: absolute;
  left: 5px;
  bottom: 150px;
  font-size: 30px;
  text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white;
}

.button-dispenses {
  color: white;
  background-color: $green;
  padding: 10px;
  border-radius: 4px;
}

 a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: #6AF090;
  text-decoration: none;
}
