.heart {
  color: rgba(255, 255, 255, 0.1);
  background-color: rgba(0,0,0,0);
  border: 0px;
  position: absolute;
  left: 5px;
  bottom: 150px;
  font-size: 30px;
  text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white;
}

.heart .btn:active {
  outline: none;
}

.heart :hover {
  color: rgb(215, 91, 91);
}


